*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('BI.jpg') ;
    background-repeat: no-repeat;
    background-size: 2000px;
}
.box{
    width: 400px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    padding:40px;
    text-align: center;
    margin:auto;
    margin-top: 5%;
    text-align: center;
}
.box-img{
    border-radius: 50%;
    width: 200px;
}
.box p{
    text-align: justify;
}
ul{

}
li{
    list-style:none;
    display:inline-block;
    margin:6px;
}